Raiting_Stars:
 - id int not null auto_increment primary key;
 - raiting varchar not null;
 - insert - 
    NONE,
    ONE_STAR,
    TWO_STARS,
    THREE_STARS,
    FOUR_STARS,
    FIVE_STARS

SONG
 - id int not null auto_increment primary key;
 - lengthInSec int not null;
 - title varchar(50) not null;
 - comment varchar(500) null;
 - raiting_id int references Raiting_Stars(id);
 FOREIGN KEY(raiting_id) ....

SONG_ALBUM
  - primary-key(song_id, album_id);
  - song_id - foreign key....
  - album_id - foreign key...

ALBUM_PERFORMER
 - primary key (album_id, performer_id);

ALBUM_CATEGORY
  id primary key,
  category varchar(50) not null;

ALBUM
  id primary-key;
  publicationDate date;
  phonographicPublication varchar(50),
  publisher varchar(50),  
  category_id references ALBUM_CATEGORY(id),
  albumCover blob
  price decimal;
  albumEvaluation references Raiting_Stars(id)
  opinion varchar(512);
  mediaType varchar check in(ANALOG, DIGITAL);
  title varchar(50) - not null
  isFavorite BOOLEAN

PERSON
 id - primary key;
 name varchar(50);
 surname varchar(50);

PERFORMER_PERSON
 primary_key (person-id, performer-id);
 person-id int,
 performer-id int,
 primary key(person-id, performer-id),
 foreign key (person-id) references person(id)
 foreign key (performer-id) references performer(id)
 member_since date;
 member_to date;

PERFORMER
  id - primary key;
  artistName varchar(50);





